@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to YouTube!</h1>

    <ul class="nav nav-tabs justify-content-center mt-4" role="tablist">
        <!-- Add more tabs if needed -->
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home" role="tabpanel">
            <p class="mt-3 text-center" style="max-width: 800px; margin: auto; font-size 50px; line-height: 2.0;">
                YouTube is a popular video-sharing network that lets users publish, watch, share, and interact with video content.
                YouTube was launched on February 14, 2005, by three former PayPal employees: Steve Chen, Chad Hurley, and Jawed Karim.
                In January 2024, YouTube had over 2.7 billion monthly active users who viewed more than one trillion minutes of video per day.
                YouTube has evolved to become the largest video streaming platform, with billions of viewers watching it each month.
            </p>
            <p class="mt-3 text-center" style="max-width: 800px; margin: auto; font-size 50px; line-height: 2.0;">
                YouTube has evolved beyond its basic website to include mobile apps, network television, and the capacity to integrate with other platforms. 
                YouTube's video categories include music videos, video clips, news, short and feature films, songs, documentaries, movie trailers, teasers, 
                TV advertisements, live streams, vlogs, and more. Individuals create the vast majority of content, including collaborations between "YouTubers" 
                and corporate sponsors. Established media, journalism, and entertainment organizations have also launched and increased their presence on YouTube 
                channels in order to reach a larger audience.
            </p>
            <p class="mt-3 text-center" style="max-width: 800px; margin: auto; font-size 50px; line-height: 2.0;">
                YouTube's purpose is to give everyone a voice and expose them to the world. YouTube believes that everyone deserves to be heard and that listening, 
                sharing, and building community through our experiences makes the world a better place.
            </p>
        </div>
    </div>

</div>
