html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pagination {
    text-align: center;
    margin-top: 2rem;
}

    .pagination a {
        color: #007BFF;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #007BFF;
        margin: 0 5px;
        border-radius: 4px;
    }

        .pagination a:hover {
            background-color: #007BFF;
            color: white;
        }

    .pagination .active {
        background-color: #007BFF;
        color: white;
    }


/* Video Cards */
.video-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

    .video-card:hover {
        transform: scale(1.05);
    }

    .video-card img {
        height: 200px;
        object-fit: cover;
    }

.card-body {
    padding: 10px;
}

/* Watch Button */
.btn-primary {
    background-color: #ff0000;
    border: none;
}

    .btn-primary:hover {
        background-color: #cc0000;
    }

<style>
.large-text {
    font-size: 50px;
    line-height: 2.0;
}
</style>